body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}


nav {
    margin: 0px 0px 0px 900px;
}

nav a {
    background-color: white;
    /* Initial background color */
    padding: 5px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav a.clicked {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}

.icon {
    display: none;
}

#mobile-menu {
    display: none;
    /* Add styles for the mobile menu, e.g., background, positioning, etc. */
}


#mobile-menu-toggle {
    display: none;

}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

    .body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .content-home {
        display: none
    }

    nav {
        width: 100%;
        height: 100px;
        margin: 0px 0px 0px 0px;
        background-color: lightblue;
    }

    nav a {
        background-color: white;
        /* Initial background color */
        padding: 5px;
        margin: 0px 10px 0px 10px;
        text-decoration: none;
        font-size: 50px;
        color: black;
    }


    #mobile-menu {
        display: block;
        background-color: azure;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;

    }

    #mobile-menu a{
        font-size: 25px;
        margin: 10px 0px 10px 20px;
    }

    #topnav {
        display: none;
    }

    .zaracho {
        padding-top: 18px;
        margin-left: 90%;
    }

    #mobile-menu-toggle {
        color: blue;
        cursor: pointer;
        display: block;
        font-weight: 700;
        font-size: 40px;


    }





}